<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="customerService" class="com.css.spring.aop.services.CustomerService">
        <property name="name" value="kishore"/>
        <property name="url" value="https://www.linkedin.com/home?trk=nav_responsive_tab_home"/>
    </bean>

    <bean id="customerBeforeAdvice" class="com.css.spring.aop.advice.CustomerBeforeMethodAdvice"/>

    <bean id="customerAfterReturnAdvice" class="com.css.spring.aop.advice.CustomerAfterMethodAdvice"/>

    <bean id="customerThrowExceptionAdvice" class="com.css.spring.aop.advice.CustomerThrowExceptionAdvice"/>

    <bean id="customerAroundMethodAdvice" class="com.css.spring.aop.advice.CustomerAroundMethodAdvice"/>

    <bean id="customerServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="targetName" value="customerService"/>
        <property name="interceptorNames">
            <list>
                <value>customerBeforeAdvice</value>
                <value>customerAfterReturnAdvice</value>
                <value>customerThrowExceptionAdvice</value>
                <value>customerAroundMethodAdvice</value>
            </list>
        </property>
    </bean>

</beans>